.box {
    box-sizing:border-box;
    cursor: pointer;
    padding: 15px 30px 15px 10px;
    width: 80%;
    box-shadow: inset 0px -1.5px #e5e5e5;
    border: 1px solid rgb(235,235,235);
    text-align: center;
    font-family: "HiraKakuPro-W6";
    margin: 5% 10%;
  }/* 選択肢の形式 */
  .cannotClick{
    pointer-events:none;
  }/*クリックした後ポインタを無効*/
  .contain{
      margin: 0 auto;
  width:90%;
  }/*テキスト*/
  .p{
    text-align:center;
    color : black(255, 25, 255, 0);

  }

  .question{
    text-decoration : underline yellow;
  }

  img{
    margin:0%;
    width: 100%;
  }
  .answerITrue{ display:none;
    background-color: rgb(245,245,245);
  }
  .answerIFalse{ display:none;
      background-color: rgb(245,245,245);
  }
   
  .answer_boxI1{ 
    text-decoration : underline rgb(41,125,254);
  }
  .answer_boxI23{ 
    text-decoration : underline rgb(255,80,40);
  }