body{
    margin: 0;
    background-color: rgb(231, 231, 231);
}
header{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 64px;
    align-items: center;
}
.header_container{
    margin: 0 5% 0 5%;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 15px;
}

.logo{
    height: 30px;
}
.link{
    /* align-items: flex-end;
    display: flex; */

    margin-left: auto;

}
.main{
    margin:70px 5% 0 5%;
}
.hour{
    display: flex;
    gap: 20px;
}
.hour_box{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}