body{
    margin: 0;
    background-color: rgb(231, 231, 231);
}

/* ヘッダー */
.logo{
    height: 30px;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 64px;
    align-items: center;
}
.header_container{
    margin: 0 5% 0 5%;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 15px;
}

.link{
    width: 140px;
    text-align: center;
    /* background-color: rgb(169, 169, 255); */
    border-radius: 100vh;
    color:white;
    margin-left: auto;
    background: linear-gradient(rgb(187, 209, 255),rgb(46, 46, 170));

}
/* メイン */
.main{
    margin:70px 5% 0 5%;
    display: flex;
    gap: 20px;
}
    /* 左半分の記述 */
    .left{
        width: 45%;
    }
        .hour{
            display: flex;
            gap: 20px;
        }
        .hour_box{
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            text-align: center;
        }
        .period{
            color: cornflowerblue;
        }
        .figure{
            font-size: 50px;
        }
        .unit{
            color: rgb(55, 82, 133);
        }
        .bar_graph{
            margin-top: 20px;
        }
        .times1{
            width: 100%;
        }
    /* 右半分の記述 */
        .right{
            width: 45%;
            display: flex;
            gap:20px;
        }
        .times2{
            width: 40%;
        }