/* 全体 */
    body{
        margin: 0;
        background-color: rgb(231, 231, 231);
    }
    .c_pointer{
        cursor:pointer;
    }
/* ヘッダー */
    .logo{
        height: 30px;
    }
    header{
        top: 0;
        position: fixed;
        width: 100%;
        background-color: rgb(255, 255, 255);
        height: 64px;
        align-items: center;
    }
    .header_container{
        margin: 0 5% 0 5%;
        display: flex;
        gap: 30px;
        align-items: center;
        margin-top: 15px;
    }
    .link{
        width: 140px;
        text-align: center;
        border-radius: 100vh;
        color:white;
        margin-left: auto;
        background: linear-gradient(rgb(187, 209, 255),rgb(46, 46, 170));
    }
/* メイン */
    .main{
        margin:70px 5% 0 5%;
        display: flex;
        gap: 20px;
    }
    .link_resp{ 

        height: 40px;
        width: 90%;
        text-align: center;
        border-radius: 100vh;
        color:white;
        margin: auto;
        background: linear-gradient(rgb(187, 209, 255),rgb(46, 46, 170));
        display: none;
    }
    .bottom_month{
        width: 100%;
        margin: auto;
        /* align-items: center; */
        text-align: center;

    }
    /* 左半分の記述 */
        .left1{
            width: 50%;
        }
        .hour{
            display: flex;
            gap: 20px;
        }
        .hour_box{
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            text-align: center;
            /* flex: 1; */
            width: 35%;
        }
        .period{
            color: cornflowerblue;
        }
        .figure{
            font-size: 25px;
        }
        .unit{
            color: rgb(55, 82, 133);
        }
        .bar_graph{
            margin-top: 20px;
        }
        .times1{
            width: 100%;
        }
    /* 右半分の記述 */
        .right1{
            width: 50%;
            display: flex;
            gap:20px;
        }
        .times2{
            width: 40%;
        }
/* モーダル */
    .modal{
        z-index: 2;
        background: #fff;
        color: #555;
        width: 900px;
        border-radius: 30px;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        line-height: 35px;
        display: none;
    }
    /* ばつの部分 */
        .modal_close{
            line-height: 25px;
            position: absolute;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: rgb(248, 248, 248);
            top: 15px;
            right: 30px;
            text-align: center;
            font-size: 30px;
        }
    /* モーダルの本文 */
        .modal_top{
            display: block;
            gap:30px;
            margin: 20px 56px;
        }
        /* 左半分の記述 */
        .left2{
            flex: 1;
            display: grid;
            row-gap: 20px;
        }
        ul{
            list-style: none;
        }
        .modal_date{
            padding: 5px;
            background-color: rgb(248, 248, 248);
            border-radius: 5px;
        }
        .modal_contents{
            margin: 0 auto;
            padding: 0;
            display: flex;
            flex-wrap:wrap;
            gap: 10px;
        }
        .modal_contents_option{
            padding: 0 7px;
            background-color: rgb(248, 248, 248);
            border-radius: 5px;
        }
        .modal_language{
            margin: 0 auto;
            display: flex;
            flex-wrap:wrap;
            gap: 10px;
            border-radius: 5px;
            padding: 0;
        }
        .modal_language_option{
            padding: 0 7px;
            background-color: rgb(248, 248, 248);
            border-radius: 5px;
        }
        /* 右半分の記述 */
        .right2{
            flex: 1;
            display: grid;
            row-gap: 20px;
        }
        .modal_time{
            padding: 5px;
            background-color: rgb(248, 248, 248);
            border-radius: 5px;
            height: 20px;
        }
        .modal_comment{
            background-color: rgb(248, 248, 248);
            border-radius: 5px;
            height: 30px;
        }
        .twitter_share{
            display: inline-flex;
            gap: 10px;
        }
        /* モーダルの下の部分 */
        .modal_bottom{
            width: 200px;
            text-align: center;
            padding: 5px;
            border-radius: 100vh;
            color:white;
            background: linear-gradient(rgb(187, 209, 255),rgb(46, 46,170));
            margin: 20px auto;
        }
        /* モーダル表示時のモーダル以外の部分 */
        .mask {
            display: none;
            background: rgba(0, 0, 0, 0.4);
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
        }
    /* ロード画面 */
        .loading{
            display: none;
            z-index: 3;
            margin: 100px auto;
            width: 170px;
        }
    